<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310952800025-nessk6mbd5fq274c2mahpdnppq5v8s5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310952800025-nessk6mbd5fq274c2mahpdnppq5v8s5t</string>
	<key>API_KEY</key>
	<string>AIzaSyCocF6UpwE39yaOJRaqcQvCwdzbxoFwBJg</string>
	<key>GCM_SENDER_ID</key>
	<string>310952800025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grocery</string>
	<key>PROJECT_ID</key>
	<string>flutter-indi-84de1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-indi-84de1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310952800025:ios:5d292541eed1acdd969f88</string>
</dict>
</plist>